:root {
  --color-primario: rgba(0, 0, 0);
  --color-secundario: #4a85d2;
  --color-letras: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Century Gothic", sans-serif;
}

.barra-verde{
    background-color: rgba(5,150,105);
  }
  .h-2{
    height: 0.5rem;
  }
 .box{
   line-height: 1.75rem;
   font-size: 1.75rem;
  }
  .px-7{
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }
  .tex-center{
    text-align: center;
  }
  .mx-auto{
    margin-left: auto;
    margin-right: auto;
  }
  .box h1 strong a{
    text-decoration: none;
    color: rgba(5,150,105);
  }
  .box-img{
    border-radius: 9999px;
  }
  img{
    max-width: 100%;
    height: auto;
    display: block;
    border-style: solid;
  }
  .max-h-80{
    max-height: 20rem;
  }
  .mx-auto{
    margin-left: auto;
    margin-right: auto;
  }
  .my-20{
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  main div h1{
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  .my-3{
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    font-size: 1.125rem;
  }
  
  .px-7{
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }
  .mb-4{
    margin-bottom: 1rem;
  }
  .m-4{
    margin: 1rem;
  }
  .text-2x1{
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .justify-center{
    justify-content: center;
  }
  .flex-wrap{
    flex-wrap: wrap;
  }
  .flex{
    display: flex;
  }
  .text-green-600{
    color: rgba(5, 150, 105, 1);
  }
  .mx-4{
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .my-4{
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .h-6{
    height: 1.5rem;
  }
  .block{
    display: block;
  }
  a{
    text-decoration: inherit;
  }
  footer{
    text-align: center;
    margin: 1.25rem;
    font-size: .875rem;
  }
  @media (min-width: 1024px){
    .media-quires{
      max-width: 72rem;
    }
  }
  
  
